<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  lang="en"
      layout:decorator="admin/base">
  <head>

    <title>Kifiya | Calendar</title>

    <!-- FullCalendar -->
    <link rel="stylesheet" th:href="@{'/fullcalendar.min.css'}"/>
    <link rel="stylesheet" th:href="@{'/fullcalendar.print.css'}" media="print"/>
    <!-- fullCalendar -->
    <script th:src="@{'/bower_components/moment/moment.js'}"></script>
    <script th:src="@{'/fullcalendar.min.js'}"></script>
    <!-- Page specific script -->
    <script th:inline="javascript">
        $(document).ready(function() {
            $('#calendar').fullCalendar('destroy');

            $('#calendar').fullCalendar({

                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                navLinks: true, // can click day/week names to navigate views
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                dataType: 'json',
                events:
        {
                        url: '/meeting/load',
                        type: 'POST',
                        error: function() {
                            alert('there was an error while fetching events!');
                        },

                    }


            });

        });

    </script>
  </head>

  <body class="hold-transition skin-yellow sidebar-mini">


  <!-- page content -->
        <div layout:fragment="content" class="right_col" role="main">



                  <div class="x_content">

                   <div id='calendar'></div>

                  </div>
        </div>

        <!-- /page content -->




    <!-- jQuery -->


  </body>
</html>