<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  lang="en"
     layout:decorator="admin/base" >
<head>
  <script th:inline="javascript">
      $(function () {

          //Date range picker
          $('#reservation').daterangepicker()
          //Date range picker with time picker
          $('#reservationtime').daterangepicker({ timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A' })


      })
  </script>
</head>

<body class="hold-transition skin-blue sidebar-mini">



<!-- page content -->
<div layout:fragment="content" class="right_col" role="main">


  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Schedule a meeting</h3>
      </div>


    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <h2>Please,<small>Fill in the form</small></h2>

          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form  th:action="@{/admin/meeting}" method="POST" th:object="${meeting}" role="form" class="form-horizontal form-label-left">

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" >Subject <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" th:field="*{subject}"  required="required" class="form-control col-md-7 col-xs-12"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" >Department <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text"  th:field="*{department}" name="last-name" required="required" class="form-control col-md-7 col-xs-12"/>
              </div>
            </div>

            <!--<div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" >Time Range <span class="required">*</span>
              </label>
              <div class="col-md-3 col-sm-3 col-xs-6">
               <input type="datetime-local" name="start-time"  th:field="*{start_time}"  class="form-control"  />
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                <input type="datetime-local"  name="end-time" id="end-time" th:field="*{end_time}" class="form-control"  />
            </div>
             </div>-->
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" >Time Range <span class="required">*</span>
              </label>

              <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control pull-right" id="reservationtime" type="text"/>
              </div>
              <!-- /.input group -->
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" >Venue <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text"  th:value="1"  th:field="*{conferenceRoom}" name="last-name" required="required" class="form-control col-md-7 col-xs-12"/>
              </div>
            </div>
           <!-- <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Attendees: </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="tags_1" class="tags form-control"  data-tagsinput-init="true" style="display: none;" type="text"/>
                  <div id="tags_1_tagsinput" class="tagsinput" style="width: auto; min-height: 100px; height: 100px;">
                <div id="tags_1_addTag"><input id="tags_1_tag" value="" data-default="add a tag" style="color: rgb(102, 102, 102); width: 72px;"/></div>
                      <div class="tags_clear"></div>
                <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
              </div>
            </div>
-->
              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Attendees: </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                  <input  class="tags form-control" type="text"/>

              </div>
              </div>



            <div class="ln_solid"></div>
            <div class="form-group">
              <center><div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
              </center>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->



<!-- jQuery -->

<!--
 Bootstrap
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
&lt;!&ndash; FastClick &ndash;&gt;
<script src="../vendors/fastclick/lib/fastclick.js"></script>
&lt;!&ndash; NProgress &ndash;&gt;
<script src="../vendors/nprogress/nprogress.js"></script>
&lt;!&ndash; bootstrap-daterangepicker &ndash;&gt;
<script src="../vendors/moment/min/moment.min.js"></script>
<script src="../vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
&lt;!&ndash; bootstrap-datetimepicker &ndash;&gt;
<script src="../vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
&lt;!&ndash; Ion.RangeSlider &ndash;&gt;
<script src="../vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
&lt;!&ndash; Bootstrap Colorpicker &ndash;&gt;
<script src="../vendors/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
&lt;!&ndash; jquery.inputmask &ndash;&gt;
<script src="../vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
&lt;!&ndash; jQuery Knob &ndash;&gt;
<script src="../vendors/jquery-knob/dist/jquery.knob.min.js"></script>
&lt;!&ndash; Cropper &ndash;&gt;
<script src="../vendors/cropper/dist/cropper.min.js"></script>
-->

<!-- Custom Theme Scripts -->
<!--<script src="../build/js/custom.min.js"></script>-->

<!-- Initialize datetimepicker -->
<!-- from fraol-->

</body>
</html>
