<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  lang="en"
     layout:decorator="admin/base" >
<head>


<script th:src="@{'/jquery.maskedinput.js'}"></script>
  <script th:src="@{'/bower_components/jquery/dist/jquery.js'}"></script>
    <script th:src="@{'/jquery-ui.js'}"></script>
    <link rel="stylesheet" th:href="@{'/jquery-ui.css'}"/>
    <script th:src="@{'/jquery.timepicker.js'}"></script>
    <link rel="stylesheet" th:href="@{'/jquery.timepicker.css'}"/>
    <link rel="stylesheet" th:href="@{'/bootstrap-datepicker.css'}"/>
    <link rel="stylesheet" th:href="@{'/site.css'}"/>
    <script th:src="@{'/site.js'}"></script>
    <script th:src="@{'/bootstrap-datepicker.js'}"></script>
    <!--<script th:src="@{'/bower_components/moment/min/moment.min.js'}"></script>-->
    <script th:src="@{'/bower_components/bootstrap/dist/js/bootstrap.min.js'}"></script>
    <script th:src="@{'/vendors/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'}"></script>
    <link rel="stylesheet" th:href="@{'/bower_components/bootstrap/dist/css/bootstrap.min.css'}"/>
    <link rel="stylesheet" th:href="@{'/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css'}"/>
    <script th:inline="javascript">
 $( function() {
        $( "#datepicker" ).datepicker();

    } );
</script>
    <script th:inline="javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker({
                format: 'HH:mm:ss'
            });
        });
        $(function () {
            $('#datetimepicker3').datetimepicker({
                format: 'HH:mm:ss'
            });
        });
    </script>
</head>

<body class="hold-transition skin-red sidebar-mini">



<!-- page content -->
<div layout:fragment="content" class="right_col" role="main">


  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Schedule a meeting</h3>
      </div>


    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">

            <h2>Please,<small>Fill in the form</small></h2>

          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br />
          <form  th:action="@{/admin/meeting}" method="POST" th:object="${meeting}" role="form" class="form-horizontal form-label-left">

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" >Subject <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" th:field="*{subject}"  required="required" class="form-control col-md-7 col-xs-12"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" >Department <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text"  th:field="*{department}" name="last-name" required="required" class="form-control col-md-7 col-xs-12"/>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" >Date <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input placeholder="mm/dd/yyyy" th:field="*{date}"  id="datepicker" required="required" class="form-control col-md-7 col-xs-12"/>

              </div>
            </div>

           <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" >Time Range <span class="required">*</span>
              </label>
              <div class="col-md-3 col-sm-3 col-xs-6">
               <input type="text" name="start-time"  placeholder="hh:mm:ss" th:field="*{start_time}" id='datetimepicker3' class="form-control"  />
              </div>
              <div class="col-md-3 col-sm-3 col-xs-6">
                <input type="text"  name="end-time" placeholder="hh:mm:ss" id='datetimepicker4' th:field="*{end_time}" class="form-control"  />
            </div>
             </div>


            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" >Venue <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text"  disabled="true" th:value="1"  th:field="*{conferenceRoom}"  required="required" class="form-control col-md-7 col-xs-12"/>
              </div>
            </div>
           <!-- <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Attendees: </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input id="tags_1" class="tags form-control"  data-tagsinput-init="true" style="display: none;" type="text"/>
                  <div id="tags_1_tagsinput" class="tagsinput" style="width: auto; min-height: 100px; height: 100px;">
                <div id="tags_1_addTag"><input id="tags_1_tag" value="" data-default="add a tag" style="color: rgb(102, 102, 102); width: 72px;"/></div>
                      <div class="tags_clear"></div>
                <div id="suggestions-container" style="position: relative; float: left; width: 250px; margin: 10px;"></div>
              </div>
            </div>
-->
              <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Attendees: </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                  <input  class="tags form-control" type="text"/>

              </div>
              </div>



            <div class="ln_solid"></div>
            <div class="form-group">
              <center><div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
              </center>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->




</body>
</html>
